body{
    background-color: rgb(147, 209, 224);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar{
    height: 5rem;
    background-color: aliceblue;
}
.fa-cart-flatbed-suitcase{
    color: gray;
    font-size: 2rem;
}

.nav-link{
    color:rgb(0, 0, 0) !important;
}
.f-info-links a{
    text-decoration: none;
    color: grey;

}
.f-info-links a:hover{
    text-decoration: underline;
    color: black;
}
.f-info{
    display: flex;
    height: 8rem;
    background-color: bisque;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.f-info-links{
    width: 100%;
    font-size: 1 rem;
}
.f-info-social{
    width:100%;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.listing-card{
    border: none!important;
    margin-bottom: 1rem;
    background-color: rgb(225, 235, 241)!important;
    border-radius: 3rem !important;
    border-top: 3rem !important;
    height: 45%;
}
.card:hover{
    background-color: aliceblue !important;
    opacity: 1;
}
.card-img-top{
    border-radius: 2rem;
  
    object-fit: cover !important;
   

}
.card-body{
    padding: 1rem!important;
    height: 60%;
    
}
.card-text p{
    font-weight: 400;
}
.listing-links{
    text-decoration: none;
}
.card-img-overlay{
    font-size: small;
    color: #000 ;
   opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: rgb(73, 103, 129);
}
.container{
    flex:1;
}
.add-btn{
  background-color: red !important;
  border:none;
 width: 8rem;
 height: 8rem;
 border-radius: 25%;

}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
    box-sizing:border-box;
    width: 100%;
    height:400px;

}
.navbar-brand{
    size: 18rem !important;
    font-size:1.5rem;
}
/* Custom Bootstrap Validation Styling */
.was-validated .form-control:valid {
    border-color: #198754 !important;  /* Green border */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='m2.3 6.73.73-.73L.73 4.6l.73-.73L3.73 5.27l4.27-4.27.73.73L3.73 6.73z'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
    padding-right: calc(1.5em + 0.75rem) !important;  /* Space for icon */
    box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25) !important;  /* Green glow */
}

.form-control.is-valid {
    border-color: #198754;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='m2.3 6.73.73-.73L.73 4.6l.73-.73L3.73 5.27l4.27-4.27.73.73L3.73 6.73z'/%3e%3c/svg%3e");
}
.card-img{
    border-radius: 2% !important;
}
.btn-dark{
    color:antiquewhite;
    background-color: black !important;

}
.invalid-feedback{
    color: aqua !important;
}
.card{
   
    margin-bottom: 1rem;
    background-color: rgb(225, 235, 241)!important;
    border-radius: 3rem !important;
}

.star-rating {
    display: flex;
    gap: 2px;
}

.star-rating input { display: none; }
.star-rating label {
    color: #ddd;
    font-size: 1.8rem;
    cursor: pointer;
    transition: color 0.2s;
}
.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffd700;
}
#navbarSupportedContent{
    background-color: aliceblue !important;
}

  
  