<% layout("/layouts/boiler_plate") %>

<div class="row mt-4">
    <div class="col-6 offset-3">
        <h2>Login</h2>
        
        <% if(error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        
      <form action="/login" method="POST" novalidate>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" type="text" 
                       class="form-control" required/>
                <div class="invalid-feedback">Username required</div>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" type="password" 
                       class="form-control" required/>
                <div class="invalid-feedback">Password required</div>
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        
        <div class="mt-3">
            <p>Demo: <strong>Apha</strong> / <strong>hellopass123</strong></p>
            <a href="/demouser" class="btn btn-secondary">Create Demo User</a>

            <br><br>
        </div>
    </div>
</div>

<script>
    // Bootstrap validation
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
